<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107365365254-hgeoi38s29i91nn04h489m3gcm9tnrhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107365365254-hgeoi38s29i91nn04h489m3gcm9tnrhp</string>
	<key>API_KEY</key>
	<string>AIzaSyA4PHIdNyKyWDY8moBle1Zrnu12Jo2i3X4</string>
	<key>GCM_SENDER_ID</key>
	<string>107365365254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dockChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dock-chat-fbace</string>
	<key>STORAGE_BUCKET</key>
	<string>dock-chat-fbace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107365365254:ios:d400ccf7b01fc11098b587</string>
</dict>
</plist>